@CHARSET "utf-8";
.layout2{
	position:absolute;
}


.layout2-1{
	width:912px;
	height:323px;
	left:56px;
	top:52px;
	position:absolute;
	
}


.layout2-2{
	width:912px;
	height:323px;
	left:56px;
	top:394px;
	position:absolute;
	
}
